*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.text {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}
.redes {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}
.redes img {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width:560px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}